{% extends "layout.html" %}
{% block title %}
Skontaktuj się ze mną
{% endblock %}
{% block content %}
<div class="container">
  <form class="form-signin">
      <div class="head">
        <h1 class="h3 mb-3 fw-normal ">Kontakt ze mną</h1>
      </div>
      <div class="form-floating">
          <input type="text" class="form-control" id="Name" >
          <label for="Name">Jak się nazywasz?</label>
        </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="Email" >
        <label for="Email">Jaki masz adres email?</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="Comment" >
        <label for="Comment">Tu pisz wiadomość</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Wyślij</button>
    </form>
    
  </div>
{% endblock %}